/*#submit-button{
	  background-color: white;
  border: ;
  color: #a6a6a6;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;

}




#div_main{
	width: 50%;
	margin-top: 150px;
	background-color: white;
	padding: 60px;
	padding-right: 70px;
	display: block;
	margin-left:auto;
	margin-right:auto;
}

#title_rec{
	padding-top: 40px;
	font-weight: 500;
}

#div_table_analytics{
	width: 50%;
	background-color: white;


}

#table1 #table2 #table3 {
	background-color:black;
}




#div_graph{
	width: 100%;
	background-color: white;
	padding-top:50px;
	margin-left:auto;
	margin-right:auto;


}


#username{
	
	height: 50px;
}

#banner{
	background-color:white;
	height: 50px;
	margin:0px;

}

body{
	margin: 0px;
	background-color: #f2f2f2;

}

#title{
	color: #a6a6a6;
	margin-block-start:0px;
	margin-block-end:0px;
	padding-top : 10px;
	padding-left:5px;

}


html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

*/






#submit-button{
	  background-color: white;
  color: #a6a6a6;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;

}




#div_main{
	width: 50%;
	margin-top: 80px;
	background-color: white;
	padding: 60px;
	padding-right: 70px;
	display: block;
	margin-left:auto;
	margin-right:auto;
	border:;
}

#title_rec{
	padding-top: 40px;
	font-weight: 500;
}

#div_table_analytics{
	width: 50%;
	background-color: white;


}



#div_graph{
	width: 100%;
	background-color: white;
	padding-top:50px;
	margin-left:auto;
	margin-right:auto;


}


#username{
	height: 50px;
}

#banner{
	width: 40%;
	background-color:white;
	height: 50px;
	display: block;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;


}

body{
	margin: 0px;
	background-color: white;

}

#title{
	color: #a6a6a6;
	margin-block-start:20px;
	margin-block-end:0px;
	padding-top : 10px;
	padding-left:5px;

}


html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

